*{
    margin: 0px;
    padding: opx;
    border: 0px;
}
.main{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: large;
    
    border-inline-end-width: 2px;
    
    /* display: flex; */
}.second h1 {
    margin-top: 20px;
    border: 3px solid black;
}

.second{
    height:  600px;
    width: 400px; 
    font-size: small;
    /* display: flex; */
}
.second img{
    margin-right: 0px;
    margin-top: 10px;
    height: 300px;
    width: 350px;
    right: 200px;
    box-sizing: inherit;
    scroll-padding-block-end: 10px;
}
.third{
    text-align: justify;
}

.button button{
    margin-left: 100px;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 50px;
    background-color: aquamarine;
}.second{
    border: 20px;
    box-shadow: 20px rgb(168, 135, 222);
}

.anil{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
}.ani{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border: 2px solid black;
        text-align: center;
}
.star h1{
    text-align: center;
    background-color: white;
    margin: 10px;   display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    text-align: center;

}
.sun{
    border:100px

}


